USE [master]
GO
/****** Object:  Database [SoftNet]    Script Date: 06/05/2024 2:16:15 ******/
CREATE DATABASE [SoftNet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SoftNet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SoftNet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SoftNet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SoftNet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SoftNet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SoftNet]
GO
/****** Object:  Table [dbo].[DET_USUARIO_EMPRESA]    Script Date: 06/05/2024 2:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DET_USUARIO_EMPRESA](
	[COD_EMPRESA] [int] NOT NULL,
	[COD_USUARIO] [int] NOT NULL,
	[VAR_CARGO] [varchar](50) NULL,
	[VAR_CORREO] [varchar](50) NULL,
	[INT_ESTADO] [int] NULL,
	[VAR_NOM_IMAGEN] [varchar](50) NULL,
	[INT_FLG_ELIMINADO] [int] NULL,
	[FEC_REGISTRO] [smalldatetime] NULL,
	[FEC_MODIFICACION] [smalldatetime] NULL,
 CONSTRAINT [PK_DET_USUARIO_EMPRESA] PRIMARY KEY CLUSTERED 
(
	[COD_EMPRESA] ASC,
	[COD_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_USUARIO]    Script Date: 06/05/2024 2:16:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_USUARIO](
	[COD_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[TIP_DOCUMENTO] [int] NULL,
	[VAR_DOC_IDENTIDAD] [varchar](15) NULL,
	[VAR_APELLIDOS] [varchar](100) NULL,
	[VAR_NOMBRES] [varchar](100) NULL,
	[VAR_PASSWORD] [varchar](10) NULL,
	[VAR_NUM_TELEFONO] [varchar](15) NULL,
	[INT_FLG_ELIMINADO] [int] NULL,
	[FEC_REGISTRO] [smalldatetime] NULL,
	[FEC_MODIFICACION] [smalldatetime] NULL,
 CONSTRAINT [PK_MAE_USAURIO] PRIMARY KEY CLUSTERED 
(
	[COD_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[MAE_USUARIO] ON 

INSERT [dbo].[MAE_USUARIO] ([COD_USUARIO], [TIP_DOCUMENTO], [VAR_DOC_IDENTIDAD], [VAR_APELLIDOS], [VAR_NOMBRES], [VAR_PASSWORD], [VAR_NUM_TELEFONO], [INT_FLG_ELIMINADO], [FEC_REGISTRO], [FEC_MODIFICACION]) VALUES (1, 1, N'412589780', N'CIEZA', N'CARLOS', N'ccccccc', N'974750779', 0, CAST(N'2024-05-04T14:24:00' AS SmallDateTime), CAST(N'2024-05-05T22:06:00' AS SmallDateTime))
INSERT [dbo].[MAE_USUARIO] ([COD_USUARIO], [TIP_DOCUMENTO], [VAR_DOC_IDENTIDAD], [VAR_APELLIDOS], [VAR_NOMBRES], [VAR_PASSWORD], [VAR_NUM_TELEFONO], [INT_FLG_ELIMINADO], [FEC_REGISTRO], [FEC_MODIFICACION]) VALUES (2, 1, N'041236589752', N'MEZA', N'ROBERTO', N'hhhhhhcccc', N'994407755', 0, CAST(N'2024-05-05T15:01:00' AS SmallDateTime), CAST(N'2024-05-05T19:51:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[MAE_USUARIO] OFF
GO
/****** Object:  Index [IX_DET_USUARIO_EMPRESA]    Script Date: 06/05/2024 2:16:16 ******/
CREATE NONCLUSTERED INDEX [IX_DET_USUARIO_EMPRESA] ON [dbo].[DET_USUARIO_EMPRESA]
(
	[COD_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DET_USUARIO_EMPRESA]  WITH CHECK ADD  CONSTRAINT [FK_DET_USUARIO_EMPRESA_MAE_USUARIO] FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[MAE_USUARIO] ([COD_USUARIO])
GO
ALTER TABLE [dbo].[DET_USUARIO_EMPRESA] CHECK CONSTRAINT [FK_DET_USUARIO_EMPRESA_MAE_USUARIO]
GO
/****** Object:  StoredProcedure [dbo].[SP_Actualizar_Detalle_Usuario]    Script Date: 06/05/2024 2:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Actualizar_Detalle_Usuario]
(
	@cod_empresa int,
	@cod_usuario int,
	@cargo varchar(50),
	@correo varchar(50),
	@nom_imagen varchar(50),
	@cod_usuarios int output
)

as

BEGIN
	UPDATE DET_USUARIO_EMPRESA
	SET VAR_CARGO = @cargo,
		VAR_CORREO = @correo,
		VAR_NOM_IMAGEN = @nom_imagen,
		FEC_MODIFICACION = GETDATE()
	WHERE COD_EMPRESA = @cod_empresa
	AND COD_USUARIO = @COD_USUARIO
	AND INT_FLG_ELIMINADO = 0

	select @cod_usuarios = @COD_USUARIO
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Actualizar_Usuario]    Script Date: 06/05/2024 2:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Actualizar_Usuario]
(
	@cod_usuario int,
	@apellidos varchar(100),
	@nombres varchar(100),
	@tip_documento int,
	@nro_documento varchar(15),
	@telefono varchar(15),
	@clave varchar(10),
	@cod_usuarios int output
)

as

BEGIN
	UPDATE MAE_USUARIO
	SET TIP_DOCUMENTO = @TIP_DOCUMENTO,
		VAR_DOC_IDENTIDAD = @NRO_DOCUMENTO,
		VAR_APELLIDOS = @APELLIDOS,
		VAR_NOMBRES = @NOMBRES,
		VAR_NUM_TELEFONO = @TELEFONO,
		VAR_PASSWORD = @CLAVE,
		FEC_MODIFICACION = GETDATE()
	WHERE COD_USUARIO = @COD_USUARIO
	AND INT_FLG_ELIMINADO = 0

	select @cod_usuarios = @COD_USUARIO
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Eliminar_Detalle_Usuario]    Script Date: 06/05/2024 2:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Eliminar_Detalle_Usuario]
(
	@cod_empresa int,
	@cod_usuario int
)

AS

BEGIN
	UPDATE DET_USUARIO_EMPRESA
	SET INT_FLG_ELIMINADO = 1,
		FEC_MODIFICACION = GETDATE()
	WHERE cod_empresa = @cod_empresa
	AND cod_usuario = @cod_usuario
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Eliminar_Usuario]    Script Date: 06/05/2024 2:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Eliminar_Usuario]
(
	@cod_usuario int
)

AS

BEGIN
	UPDATE MAE_USUARIO
	SET INT_FLG_ELIMINADO = 1,
		FEC_MODIFICACION = GETDATE()
	WHERE cod_usuario = @cod_usuario
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Listar_Detalle_Usuario_Id]    Script Date: 06/05/2024 2:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Listar_Detalle_Usuario_Id]
(
	@cod_empresa int,
	@cod_usuario int
)
as
Begin
	SELECT	COD_EMPRESA,
			COD_USUARIO,
			VAR_CARGO,
			VAR_CORREO,
			INT_ESTADO,
			VAR_NOM_IMAGEN,
			INT_FLG_ELIMINADO,
			FEC_REGISTRO,
			FEC_MODIFICACION
	FROM	DET_USUARIO_EMPRESA
	WHERE	COD_EMPRESA = @cod_empresa
	AND		COD_USUARIO = @cod_usuario
	AND		INT_FLG_ELIMINADO = 0
End
GO
/****** Object:  StoredProcedure [dbo].[SP_Listar_Detalle_Usuarios]    Script Date: 06/05/2024 2:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Listar_Detalle_Usuarios]

AS

BEGIN
	SELECT	COD_EMPRESA,
			COD_USUARIO,
			VAR_CARGO,
			VAR_CORREO,
			INT_ESTADO,
			VAR_NOM_IMAGEN,
			INT_FLG_ELIMINADO,
			FEC_REGISTRO,
			FEC_MODIFICACION
	FROM	DET_USUARIO_EMPRESA
	WHERE	INT_FLG_ELIMINADO = 0

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Listar_Usuario_Id]    Script Date: 06/05/2024 2:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Listar_Usuario_Id]
(
	@cod_usuario int
)
as
Begin
	SELECT	COD_USUARIO,
			TIP_DOCUMENTO,
			VAR_DOC_IDENTIDAD,
			VAR_APELLIDOS,
			VAR_NOMBRES,
			VAR_PASSWORD,
			VAR_NUM_TELEFONO,
			INT_FLG_ELIMINADO,
			FEC_REGISTRO,
			FEC_MODIFICACION
	FROM	MAE_USUARIO
	WHERE	COD_USUARIO = @cod_usuario
	AND		INT_FLG_ELIMINADO = 0
End
GO
/****** Object:  StoredProcedure [dbo].[SP_Listar_Usuarios]    Script Date: 06/05/2024 2:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Listar_Usuarios]

AS

BEGIN
	SELECT	COD_USUARIO,
			TIP_DOCUMENTO,
			VAR_DOC_IDENTIDAD,
			VAR_APELLIDOS,
			VAR_NOMBRES,
			VAR_PASSWORD,
			VAR_NUM_TELEFONO,
			INT_FLG_ELIMINADO,
			FEC_REGISTRO,
			FEC_MODIFICACION
	FROM	MAE_USUARIO
	WHERE	INT_FLG_ELIMINADO = 0

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Registra_Detalle_Usuario]    Script Date: 06/05/2024 2:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Registra_Detalle_Usuario]
(
	@cod_empresa int,
	@cod_usuario int,
	@cargo varchar(50),
	@correo varchar(50),
	@nombre_imagen varchar(50)
)

as

BEGIN

	IF NOT EXISTS (SELECT COD_USUARIO FROM DET_USUARIO_EMPRESA WHERE COD_EMPRESA = @cod_empresa AND COD_USUARIO = @cod_usuario)
		BEGIN
			INSERT INTO DET_USUARIO_EMPRESA (COD_EMPRESA, COD_USUARIO, VAR_CARGO, VAR_CORREO, VAR_NOM_IMAGEN, INT_FLG_ELIMINADO, FEC_REGISTRO)
			VALUES (@cod_empresa, @cod_usuario, @cargo, @correo, @nombre_imagen,  0, GETDATE())
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Registra_Usuario]    Script Date: 06/05/2024 2:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Registra_Usuario]
(
	@tip_documento int,
	@nro_documento varchar(15),
	@apellidos varchar(100),
	@nombres varchar(100),
	@clave varchar(10),
	@telefono varchar(15),
	@cod_usuario int output
)

as

BEGIN

	IF NOT EXISTS (SELECT COD_USUARIO FROM MAE_USUARIO WHERE VAR_DOC_IDENTIDAD = @nro_documento)
		BEGIN
			INSERT INTO MAE_USUARIO (TIP_DOCUMENTO, VAR_DOC_IDENTIDAD, VAR_APELLIDOS, VAR_NOMBRES, VAR_PASSWORD, VAR_NUM_TELEFONO, INT_FLG_ELIMINADO, FEC_REGISTRO)
			VALUES (@tip_documento, @nro_documento, @apellidos, @nombres, @clave, @telefono, 0, GETDATE())

			set @cod_usuario = SCOPE_IDENTITY()
		END
	ELSE
		BEGIN
			set @cod_usuario = (SELECT COD_USUARIO FROM MAE_USUARIO WHERE VAR_DOC_IDENTIDAD = @nro_documento)
		END

	select @cod_usuario
END
GO
USE [master]
GO
